body{
  background-color: rgba(69, 69, 87, 0.438);
}
  .login-page-headline{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .login-container , .sign-up-container{
    background-color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    max-width: 640px;
    height: 500px;
    max-height: 500px;
    margin: 120px auto 20px;
  }


  .data-container{
    background-color: white;
    left: 24%;
    position: relative; 
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 15px;
    margin: 30px;
    border: 2px solid black;
  }
  .data-container:hover{
    background-color: rgb(231, 231, 228);
  }
  
  .input-login-page{
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 15px;
  }
  .icon-login-page{
    border-radius: 50%;
    background-color: transparent;
    width: 30px;
  }
  .login-button{
    padding: 15px 60px;
    border-radius: 20px;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    font-size: 20px;
    position: relative;
    left: 38%;
    margin-bottom: 25px;
  }
  .login-button:hover{
    cursor: pointer;
    background-color: rgb(210, 137, 2);
  }
  .link-container{
    text-align: center;
    padding-bottom: 15px;
  }
  .login-page-link{
    color: orange;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
  }
  .login-page-link:hover{
    color: rgb(214, 141, 4);
    text-decoration: underline;
  }

  .error{
    color:red;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
  }
  